<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.imi.mapper.TProductMapper">
<resultMap id="Base_TProductMapper_Vo" type="com.vip.imi.domain.vo.TProductVo">
    <id property="productId" column="product_id"/>
    <result property="productName" column="product_name" />
    <collection property="tProductImageList"
                ofType="com.vip.imi.domain.entity.TProductImage">
        <id property="productImageId" column="product_image_id"/>
        <result property="productImageUrl" column="product_image_url"/>
    </collection>
</resultMap>

    <select id="AllTProduct" resultMap="Base_TProductMapper_Vo">
        select tp.product_id,tp.product_name,tp.product_desc,tp.product_old_price,
        tp.product_new_price,tpi.product_image_id,tpi.product_image_url
        from t_product tp
        left join t_product_image tpi on tp.product_id = tpi.product_id
        where  tp.product_status = 1 and tpi.product_image_is_delete = 0;
    </select>
</mapper>
